body {
  background-color: #b2beb5 !important;
}

table {
  text-align: center;
}

.navlink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
}

.navlink:hover {
  color: rgba(255, 255, 255, 0.8);
}

.center-text {
  text-align: center;
}

.user-post-link {
  text-decoration: none;
  color: white;
}

.user-post-link:hover {
  color: white;
}

#filter-input {
  font-family: inherit;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  margin-bottom: 30px;
}
