body {
  background-color: #b2beb5 !important;
}

table {
  text-align: center;
}

.navlink {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
}

.navlink:hover {
  color: rgba(255, 255, 255, 0.8);
}

.main-title {
  text-align: center;
}

.user-post-link {
  text-decoration: none;
  color: white;
}

.user-post-link:hover {
  color: white;
}
